In [1]:
import os

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler

import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_pickle('C:/Users/miaoy/Desktop/11785/HwData/project/train.pkl')
df.head()

,row_id,time_id,investment_id,target,f_0,f_1,f_2,f_3,f_4,f_5,...,f_290,f_291,f_292,f_293,f_294,f_295,f_296,f_297,f_298,f_299
0,0_1,0,1,-0.300875,0.932573,0.113691,-0.402206,0.378386,-0.203938,-0.413469,...,0.366028,-1.095620,0.200075,0.819155,0.941183,-0.086764,-1.087009,-1.044826,-0.287605,0.321566
1,0_2,0,2,-0.231040,0.810802,-0.514115,0.742368,-0.616673,-0.194255,1.771210,...,-0.154193,0.912726,-0.734579,0.819155,0.941183,-0.387617,-1.087009,-0.929529,-0.974060,-0.343624
2,0_6,0,6,0.568807,0.393974,0.615937,0.567806,-0.607963,0.068883,-1.083155,...,-0.138020,0.912726,-0.551904,-1.220772,-1.060166,-0.219097,-1.087009,-0.612428,-0.113944,0.243608
3,0_7,0,7,-1.064780,-2.343535,-0.011870,1.874606,-0.606346,-0.586827,-0.815737,...,0.382201,0.912726,-0.266359,-1.220772,0.941183,-0.609113,0.104928,-0.783423,1.151730,-0.773309
4,0_8,0,8,-0.531940,0.842057,-0.262993,2.330030,-0.583422,-0.618392,-0.742814,...,-0.170365,0.912726,-0.741355,-1.220772,0.941183,-0.588445,0.104928,0.753279,1.345611,-0.737624

In [ ]:
dff = df.set_index(['investment_id', 'time_id'])
dff = dff.drop('row_id', 1)
dff.head()

In [ ]:
target = dff['target']
target.head()

In [ ]:
feature = dff.drop('target', 1)
feature.head()

In [ ]:
scaler = MinMaxScaler()
for i in range(30):
    if i % 10 == 0: print(i)
    scaler.fit(feature.iloc[:,10 * i:10 * (i + 1)])
    feature.iloc[:,10 * i:10 * (i + 1)] = scaler.transform(feature.iloc[:,10 * i:10 * (i + 1)])
feature.head()

In [ ]:
iterables = [range(3774), range(1220)]
index = pd.MultiIndex.from_product(iterables, names=['investment_id', 'time_id',])
adf = pd.DataFrame(np.empty(4604280), index=index)
adf.head()

In [ ]:
adf = adf.join(target)
adf = adf.join(feature)
adf = adf.drop(0, 1)
adf.head()

In [ ]:
X = adf.iloc[:,1:].dropna()

In [ ]:
from sklearn.decomposition import PCA
pca = PCA(n_components=52)
X_pca08 = pca.fit_transform(X)
pca = PCA(n_components=93)
X_pca09 = pca.fit_transform(X)

In [ ]:
columns08 = ['pca08_{}'.format(i) for i in range(52)]
columns09 = ['pca09_{}'.format(i) for i in range(93)]

In [ ]:
pca08 = pd.DataFrame(X_pca08, index=X.index, columns=columns08)
pca09 = pd.DataFrame(X_pca09, index=X.index, columns=columns09)

In [ ]:
df_pca8 = df_pca08.join(df.iloc[:, 0])
df_pca9 = df_pca09.join(df.iloc[:, 0])